@media(min-width:768px) {

    .laimagen-de {
        margin: 0px 100px;
    }





    /* SOBRE NOSOTROS**********/

    .sobre-nos {
        margin: 0px 100px;
    }


    /* Servicios************ */
    .father {
        margin: 0px 10rem;
        padding-top: 7rem;
    }

    .dibu {
        padding-bottom: 4rem;
    }
    .escondidos{
        display: block;
    }



}